[submodule "Verilog/ND-BUS-DEVICES/portable"]
	path = Verilog/ND-BUS-DEVICES/portable
	url = https://github.com/HackerCorpLabs/NDDeviceCore.git
[submodule "Verilog/fpga/mega65/m2m"]
	path = Verilog/fpga/mega65/m2m
	url = https://github.com/sy2002/MiSTer2MEGA65.git
