IO_LOC "O_sdram_clk" IOR11B;
IO_PORT "O_sdram_clk"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_cke" IOL13A;
IO_PORT "O_sdram_cke"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_cs_n" IOL14B;
IO_PORT "O_sdram_cs_n"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_cas_n" IOL14A;
IO_PORT "O_sdram_cas_n"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_ras_n" IOL13B;
IO_PORT "O_sdram_ras_n"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_wen_n" IOL12B;
IO_PORT "O_sdram_wen_n"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_dqm[0]" IOL12A;
IO_PORT "O_sdram_dqm[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_dqm[1]" IOR11A;
IO_PORT "O_sdram_dqm[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_dqm[2]" IOL18A;
IO_PORT "O_sdram_dqm[2]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_dqm[3]" IOR15B;
IO_PORT "O_sdram_dqm[3]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[0]" IOR14A;
IO_PORT "O_sdram_addr[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[1]" IOR13B;
IO_PORT "O_sdram_addr[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[2]" IOR14B;
IO_PORT "O_sdram_addr[2]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[3]" IOR15A;
IO_PORT "O_sdram_addr[3]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[4]" IOL16B;
IO_PORT "O_sdram_addr[4]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[5]" IOL17B;
IO_PORT "O_sdram_addr[5]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[6]" IOL16A;
IO_PORT "O_sdram_addr[6]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[7]" IOL17A;
IO_PORT "O_sdram_addr[7]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[8]" IOL15B;
IO_PORT "O_sdram_addr[8]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[9]" IOL15A;
IO_PORT "O_sdram_addr[9]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[10]" IOR12B;
IO_PORT "O_sdram_addr[10]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_ba[0]" IOR13A;
IO_PORT "O_sdram_ba[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "O_sdram_ba[1]" IOR12A;
IO_PORT "O_sdram_ba[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[0]" IOL3A;
IO_PORT "IO_sdram_dq[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[1]" IOL3B;
IO_PORT "IO_sdram_dq[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[2]" IOL8A;
IO_PORT "IO_sdram_dq[2]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[3]" IOL8B;
IO_PORT "IO_sdram_dq[3]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[4]" IOL9A;
IO_PORT "IO_sdram_dq[4]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[5]" IOL9B;
IO_PORT "IO_sdram_dq[5]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[6]" IOL11A;
IO_PORT "IO_sdram_dq[6]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[7]" IOL11B;
IO_PORT "IO_sdram_dq[7]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[8]" IOR9B;
IO_PORT "IO_sdram_dq[8]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[9]" IOR9A;
IO_PORT "IO_sdram_dq[9]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[10]" IOR5B;
IO_PORT "IO_sdram_dq[10]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[11]" IOR6A;
IO_PORT "IO_sdram_dq[11]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[12]" IOR5A;
IO_PORT "IO_sdram_dq[12]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[13]" IOR4B;
IO_PORT "IO_sdram_dq[13]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[14]" IOR3B;
IO_PORT "IO_sdram_dq[14]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[15]" IOR3A;
IO_PORT "IO_sdram_dq[15]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[16]" IOL39B;
IO_PORT "IO_sdram_dq[16]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[17]" IOL39A;
IO_PORT "IO_sdram_dq[17]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[18]" IOL35B;
IO_PORT "IO_sdram_dq[18]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[19]" IOL35A;
IO_PORT "IO_sdram_dq[19]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[20]" IOL30B;
IO_PORT "IO_sdram_dq[20]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[21]" IOL30A;
IO_PORT "IO_sdram_dq[21]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[22]" IOL20A;
IO_PORT "IO_sdram_dq[22]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[23]" IOL18B;
IO_PORT "IO_sdram_dq[23]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[24]" IOR17A;
IO_PORT "IO_sdram_dq[24]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[25]" IOR16A;
IO_PORT "IO_sdram_dq[25]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[26]" IOR16B;
IO_PORT "IO_sdram_dq[26]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[27]" IOR17B;
IO_PORT "IO_sdram_dq[27]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[28]" IOR18A;
IO_PORT "IO_sdram_dq[28]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[29]" IOR18B;
IO_PORT "IO_sdram_dq[29]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[30]" IOR44A;
IO_PORT "IO_sdram_dq[30]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[31]" IOR44B;
IO_PORT "IO_sdram_dq[31]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
